@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(to left, #ffb366, #ff9933, #ff8000, #ff9933, #ffb366);
}

article {
    margin-left: 40px;
    font-weight: bold;
    font-size: 19px;
}

.container {
    background-color: #ffffcc;
    padding: 40px 10px;
    width: 560px;
    max-height: 100vh;
    margin-top: 140px;
    margin-left: 340px;
    border-radius: 10px;
    box-shadow: 1px 1px 0 1px #737373;
}

h3 {
    font-size: 38px;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

#url {
    width: 350px;
    height: 20px;
    margin-right: 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 20px;
    margin-left: 40px;
}
#url:hover {
    border: 1.5px solid #bfbfbf;
}

i {
    font-size: 14px;
}

#shorten {
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    background-color: #bfbfbf;
    padding: 3px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Playfair', serif;
    border-radius: 4px;
    cursor: pointer;
}
#shorten:hover {
    background-color: #8c8c8c;
    color: #fff;
    transition: .5s;
}

#short_url  {
    width: 300px;
    height: 20px;
    margin-right: 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 4px;
    margin-left: 40px;
}
#short_url:hover {
    border: 1.5px solid #bfbfbf;
}

#copy {
    border: none;
    outline: none;
    width: 90px;
    background-color: #bfbfbf;
    padding: 3px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Playfair', serif;
}

#copy:hover {
    background-color: #8c8c8c;
    color: #fff;
    transition: .5s;
}